                </div>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> 
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> 


<link rel="stylesheet" type="text/css" href="css/app.css">
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


</head>
<body>
  
<div class="container">
  <div style="height:100vh;padding:2% 0%;" class="row">
    <div style="background-color:#eaeaea;height:100%;padding-left:0px;padding-right:0px;border-radius: 6px 6px 40px 6px;" class="col-sm-8">
      <ul style="padding: .5% 0% 0% 2%;" class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Expense</a></li>
          <li><a data-toggle="tab" href="#menu1">Graph</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div id="expense-data">
             <% var amt = []; %>
             <% var catg = []; %>
             <% var g = 0,e = 0,v = 0,f = 0,m = 0; %>

            <% for(var i=0; i<expenses.length; i++) {%>
                <div class="row expense-div">
                    <div style="background-color:#a2a2a2;" class="col-sm-4 category"><%= expenses[i].category %></div>
                    <div class="col-sm-3 align-vert" style='font-size: 20px;' ><img style="padding-top:5px;" class="expense-rlogo" src="http://i.imgur.com/Fd7NROx.png"><%= expenses[i].amount %></div>
                    <div class="col-sm-3 align-vert"><%= expenses[i].date %></div>
                    <div class="col-sm-2"><img class="close-img" style="text-align:right;" data-toggle="tooltip" data-placement="right" title="Remove" src="Images/close.png"></div>
                </div>
             <% } %>   
          </div>  
          <button style="position:absolute;bottom:0;right:-31px;" type="button" class="add-btn" data-toggle="modal" data-target="#myModal"><img style="width:52%;" src="Images/add.png"></button>
          <div  class="modal fade" id="myModal" role="dialog">
              <div style="background-image:url(Images/.png);"  class="modal-dialog modal-width">
                <!-- Modal content-->
                <div class="modal-content bck-clr">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Today's Expense</h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" method="post" action="/bla">
                        <div class="form-group">
                          <input name="date" id="date">
                        </div>
                        <div class="form-group">
                          <select style="height:95px;" class="select-style" name="category" size="5">
                            <option style="background-image:url(Images/grocery.png);" >Grocery</option>
                            <option style="background-image:url(Images/entertain.png);" >Entertainment</option>
                            <option style="background-image:url(Images/vehicle.png);" >Vehicle</option>
                            <option style="background-image:url(Images/food.png);" >Food</option>
                            <option style="background-image:url(Images/miscellaneous.png);" >Miscellaneous</option>
                          </select>
                        </div>
                        <div class="form-group"> 
                        <input type="number" name="amount" id="telNumber"  class="form-control tel" />       
                          <div class="num-pad">
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        2 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        3 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        4 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        5 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        6 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        7 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        8 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        9 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="num">
                                    <div class="txt">
                                        0 <span class="small">
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                           </div>                        
                        </div>
                      <!-- <div style="text-align:right;" class="form-group">
                        <button id="date-chng">Change Date</button> 
                      </div>  -->
                        <div class="form-group">        
                          <div class="col-sm-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
          </div>          
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3 style="padding-left:4%;">Graph</h3>
          <div style="color:white;" id="chartdiv"></div>
        </div>      
      </div>
    </div>
    <div class="col-sm-4">
      <h3 style="color: whitesmoke; margin-left:4%;">Expense this Week</h3>
      <canvas id="myChart" style="height:415px;width:415px; margin:11% 0% 0% 4%;" width="415" height="415"></canvas>
    </div>
  </div>
</div>
</body>
</html>
